* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#__next {
  width: 100%;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  background: #121214;
}

:root {
  --hue: 160;
  --saturation: 50%;
  --lightness: 20%;
  --accent: hsl(var(--hue), var(--saturation), var(--saturation));
  --accent-light: hsl(var(--hue), var(--saturation), 50%);
  --accent-dark: hsl(var(--hue), var(--saturation), 20%);

  --repeat: 3;
  --unit: 1fr;
  --columns: repeat(var(--repeat), var(--unit));
}

button {
  outline: 0;
  border: 0;
  border-radius: 0.6rem;
  color: #fff;
  font-weight: bold;
}

::-webkit-selection {
  color: var(--accent);
  background: hsl(285, 37%, 60%);
}

::-webkit-scrollbar {
  width: 1.2rem;
}

::-webkit-scrollbar-track {
  background: #0b0e11;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  border: 7px solid transparent;
  background-clip: content-box;
  background-color: hsl(0, 0%, 31%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent);
  cursor: pointer;
}
