* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#__next {
  width: 100%;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  background: #121214;
}

:root {
  --accent: #6a1b9a;
  --accent-light: #9c4dcc;
  --accent-dark: #38006b;

  --repeat: 3;
  --unit: 1fr;
  --columns: repeat(var(--repeat), var(--unit));
}

button {
  outline: 0;
  border: 0;
  border-radius: 0.6rem;
  color: #fff;
  font-weight: bold;
}
