.item {
  padding: 1rem;
  background: #202024;
  grid-column: 1 / 3;
  cursor: pointer;

  &:hover,
  &:focus {
    background: #313137;
  }
}

.grid {
  display: grid;
  grid-template-columns: var(--columns);
}

.content {
  width: 80%;
  margin: 0.5rem auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  row-gap: 1rem;

  p {
    text-align: left;
  }

  button {
    padding: 0.5rem;
    background: var(--accent);
    grid-column: 1 / 3;
    transition: all 200ms;

    &:hover {
      cursor: pointer;
      background: var(--accent-dark);
    }

    &:focus {
      background: var(--accent-dark);
    }
  }
}
